.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .container_cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
