.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.home {
  min-height: 50vh;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.home_dark {
  min-height: 50vh;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: #35363A;
  color: #fff;
}
