.container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.mode_dark {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background-color: #35363A;
  color: #fff;
}
