.header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #ebebeb;

  & a {
    text-decoration: none;
    color: #000000;
  }

  & > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
