@import '../../index.module.scss';

.select {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;

  form {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.select_dark {
  background-color: $color-primary-dark;
  color: $color-primary-light;
}
