body {
  font-family: 'verdana';
}

.button {
  background-color: #f8d825;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'verdana';
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;

  &:hover {
    background-color: #e72500;
    color: #ffffff;
  }
}
